*{
    margin: 0;
    box-sizing: border-box;
}
nav{
    background-color: darkslateblue;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
}

a{
    color: beige;

}
h1{
    text-align: center;
}

body{
    background-color: black;
}